# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Entornos virtuales
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos temporales
*.tmp
*.temp

# VS Code
.vscode/
